# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build artifacts
dist/
build/
public/build/ # If you're building client-side assets into public/build

# Environment variables
.env
.env.local
.env.*.local

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store # macOS specific

# Test reports
coverage/

# Uploads or temporary files
uploads/
tmp/

# Other common ignored files
*.swp # Vim swap files
*.bak # Backup files
*.swo # Vim swap files